<footer class="footer footer-center p-10 bg-base-200 text-base-content mt-16">
  <nav class="flex flex-wrap gap-4 justify-center">
    <a href="/regulamin" class="link link-hover">Regulamin</a>
    <a href="/polityka-prywatnosci" class="link link-hover">Polityka Prywatności</a>
    <a href="/customer-portal" class="link link-hover">Zarządzanie subskrypcją</a>
  </nav>
  <aside class="max-w-2xl">
    <p class="text-sm mb-2">mail.selfhosting.pl © 2025</p>
    <p class="text-sm">Część projektu <a href="https://selfhosting.pl?utm_source=mail.selfhosting.pl&utm_medium=footer&utm_campaign=referral" target="_blank" class="link link-hover font-semibold">selfhosting.pl</a> - pomagamy małym firmom i osobom prywatnym hostować strony internetowe na własnym sprzęcie.</p>
  </aside>
</footer>
