<footer class="footer footer-center p-10 bg-base-200 text-base-content mt-16">
  <nav class="flex flex-wrap gap-4 justify-center">
    <a href="/regulamin" class="link link-hover">Regulamin</a>
    <a href="/polityka-prywatnosci" class="link link-hover">Polityka Prywatności</a>
    <a href="/customer-portal" class="link link-hover">Zarządzanie subskrypcją</a>
  </nav>
  <aside>
    <p class="text-sm">mail.selfhosting.pl © 2025 - Część projektu <a href="https://selfhosting.pl" target="_blank" class="link link-hover">selfhosting.pl</a></p>
  </aside>
</footer>
