<h2>Formularz został aktywowany</h2>
<p>Gotowe! Twoja konfiguracja została zapisana, a wszystkie wiadomości z formularza kontaktowego na Twojej stronie będą od teraz trafiały na wskazany adres e-mail.</p>
<p>Możesz zamknąć to okno. Jeśli kiedyś zdecydujesz się zrezygnować z subskrypcji, skorzystaj z linku do zarządzania subskrypcją (<a  href="/customer-portal">https://mail.selfhosting.pl/customer-portal</a>) lub napisz do mnie: <strong>kacpermachay@gmail.com</strong>.</p>

<p>Teraz przetestuj ponownie formularz kontaktowy!</p>

{{template "partials/footer" .}}
