<div class="pt-8">
  <div class="alert alert-success mb-8">
    <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
    <span><strong>Formularz został aktywowany!</strong></span>
  </div>

  <h2 class="text-3xl font-bold mb-6">Gratulacje!</h2>

  <div class="prose max-w-none mb-8">
    <p>Twoja konfiguracja została zapisana, a wszystkie wiadomości z formularza kontaktowego na Twojej stronie będą od teraz trafiały na wskazany adres e-mail.</p>
  </div>

  <div class="card bg-base-200 my-8">
    <div class="card-body">
      <h3 class="card-title text-xl">Zarządzanie subskrypcją</h3>
      <p>Jeśli kiedyś zdecydujesz się zrezygnować z subskrypcji, skorzystaj z linku do zarządzania subskrypcją lub napisz do mnie: <strong>kacpermachay@gmail.com</strong>.</p>
      <div class="card-actions mt-4">
        <a href="/customer-portal" class="btn btn-primary">Zarządzaj subskrypcją</a>
      </div>
    </div>
  </div>

  <div class="prose max-w-none mt-8">
    <p class="text-lg font-semibold">Teraz przetestuj ponownie formularz kontaktowy!</p>
  </div>
</div>

{{template "partials/footer" .}}
